body {
}

.body-content {
    padding-top: 100px;
}

.site-top{
    display:inline-block;
    line-height:50px;
    height:50px;
    position:absolute;
    top:0;
    width:100%;
}

.fixed-top{
    position:absolute;
    top:50px;
    width:100%;
    z-index:3;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
